<div class="content">
  <div class="content__left">
    <div class="content__left--image">
      <%=  image_tag post.image.to_s %>
    </div>
  </div>
  <div class="content__right">
    <div class="content__right__top">
      <%= link_to post.hospital, post_path(post.id), class: "content__right__top--title" %>
    </div>
    <div class="subject">
      <%= post.subject %>
    </div>
    <div class="content__right__bottom">
      <div class="content__right__bottom--cardnumber">
        No.<%= post.number %>
      </div>
      <div class="content__right__bottom--holiday">
        休診日 <%= post.holiday %>
      </div>
    </div>
  </div>
</div>