<div class="content__title">
  病院の登録
</div>

<%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.file_field :image %>
  <%= form.text_field :hospital, placeholder: :病院名, class: :form__title %>
  <%= form.text_field :holiday, placeholder: :休診日, class: :form__title %>
  <%= form.text_field :number, placeholder: :カードナンバー, class: :form__title %>
  <%= form.select :subject, [ "内科", "外科", "小児科" ,"皮膚科", "歯科", "眼科", "耳鼻科"], prompt: "診療科目を選択してください" %>
  <%= form.submit '登録する', class: :form__btn %>
<% end %>