<div class="postHospital">
  <%= @post.hospital %>
</div>
<div class="card-image">
  <%= image_tag @post.image.to_s %>
</div>
<div class="posttell">
  <%# 電話番号<%= @post.tell %>
  <a href="tel:<%= @post.tell%>">電話をかける</a>
<div class="postnumber">
  カードNo.<%= @post.number %>
</div>
<div class="postHoliday">
  休診日:<%= @post.holiday %>
</div>
<%# ダミーqrコード %>
<div class="qrcode">
  <img src="http://chart.apis.google.com/chart?cht=qr&chs=130x130&chl=<%= @post.number %>">
  <%# <img src="http://chart.apis.google.com/chart?cht=qr&chs=150x150&chl=https://tech-camp.in/"> %>
</div>
<%# <div class="postAuthor">
</div> %>
<% if user_signed_in? && current_user.id == @post.user_id %>
  <div class="postManage">
    <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
    <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete", data: {confirm: '削除してもいいですか？'} %>
  </div>
<div class="postDate">
  <%= @post.created_at %>
</div>
<% end %>